.main-wrapper {
  height: 100%;
  padding-bottom: 30px;
  overflow: auto;
}
.main-logo-container {
  font-size: 20px;
  font-weight: 700;
}
.main-introduce {
  text-align: center;
  margin: 25px 0;
  white-space: pre-wrap;
  font-family: batang_regular;
  font-size: 18px;
  line-height: 30px;
  color: #585858;
}
.main-text-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 10px;
}
.main-radio-wrapper {
  display: block;
}
.main-text-hot {
  font-family: batang_bold;
  font-size: 20px;
}
.main-radio {
}
.main-label-hot {
  font-family: batang_regular;
}
.main-tab-container {
  display: none;
}
.main-tab {
  display: flex;
  flex: 1;
  height: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid transparent;
  justify-content: center;
  align-items: center;
}
.main-tab.main-tab-active {
  border-width: 5px;
}
.main-contents-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.main-category-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}

@media screen and (max-width: 768px) {
  .main-tab-container {
    display: flex;
    background-color: #999;
    height: 50px;
  }
  .main-category-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-radio-wrapper {
    display: none;
  }
}
