.adm-category-list-wrapper {
  position: relative;
  height: 80%;
  overflow: auto;
}
.adm-category-item-wrapper {
  position: absolute;
  height: 100px;
  border: 1px solid blue;
  transition: top 0.2s linear;
  top: 0;
}
/* .adm-category-item */
